body {
    background-color: #B3B8F6;
    z-index: -1;
}

#mainContainer {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#leftContainer {
    background-color: #B3F6EC;
    height: 100vh;
}

#rightContainer {
    background-color: #D37887;
    height: 100vh;
}

#textbox {
    width: 100%;
}

#resetButton {
    width: 100%;
}

#submitButton {
    width: 100%;
}
